<a href="https://colab.research.google.com/github/nagmani004/Intro-To-ML-GDSC-IITK/blob/main/220679%20NAGMANI%20NAYAN%20exercise_data_types_and_missing_values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**This notebook is an exercise in the [Pandas](https://www.kaggle.com/learn/pandas) course.  You can reference the tutorial at [this link](https://www.kaggle.com/residentmario/data-types-and-missing-values).**

---

# Introduction

Run the following cell to load your data and some utility functions.

In [14]:
import pandas as pd

reviews = pd.read_csv("/content/winemag-data-130k-v2.csv", index_col=0)

# Exercises

## 1.
What is the data type of the `points` column in the dataset?

In [3]:
# Your code here
dtype =reviews.points.dtypes

print(dtype)

int64

In [ ]:
#q1.hint()
#q1.solution()

## 2.
Create a Series from entries in the `points` column, but convert the entries to strings. Hint: strings are `str` in native Python.

In [6]:
point_strings = reviews.points.astype('str')

print(point_strings)

0        87
1        87
2        87
3        87
4        87
         ..
36164    92
36165    88
36166    88
36167    88
36168    88
Name: points, Length: 36169, dtype: object

In [ ]:
#q2.hint()
#q2.solution()

## 3.
Sometimes the price column is null. How many reviews in the dataset are missing a price?

In [8]:
n_missing_prices =reviews[pd.isnull(reviews.price)]

# Check your answer
print(n_missing_prices)

        country                                        description  \
0         Italy  Aromas include tropical fruit, broom, brimston...
13        Italy  This is dominated by oak and oak-driven aromas...
30       France  Red cherry fruit comes laced with light tannin...
31        Italy  Merlot and Nero d'Avola form the base for this...
32        Italy  Part of the extended Calanìca series, this Gri...
...         ...                                                ...
36080  Portugal  This single-variety wine from Alorna has a sop...
36088    France  With fruit from the Aube and from the Côte des...
36095    France  Rich but fresh, with good aromatic intensity. ...
36110     Italy  This opens with aromas of acacia, toast and a ...
36130     Italy  Made entirely with Nerello Mascalese, this cha...

                                designation  points  price           province  \
0                              Vulkà Bianco      87    NaN  Sicily & Sardinia
13                                    Rosso      87    NaN  Sicily & Sardinia
30                                  Nouveau      86    NaN         Beaujolais
31             Calanìca Nero d'Avola-Merlot      86    NaN  Sicily & Sardinia
32                 Calanìca Grillo-Viognier      86    NaN  Sicily & Sardinia
...                                     ...     ...    ...                ...
36080                                   NaN      89    NaN               Tejo
36088  Quattuor Blanc de Quatre Blancs Brut      88    NaN          Champagne
36095                          Cordon Rouge      88    NaN          Champagne
36110                          More Maiorum      89    NaN     Southern Italy
36130                                   NaN      89    NaN  Sicily & Sardinia

                  region_1 region_2    taster_name taster_twitter_handle  \
0                     Etna      NaN  Kerin O’Keefe          @kerinokeefe
13                    Etna      NaN  Kerin O’Keefe          @kerinokeefe
30     Beaujolais-Villages      NaN     Roger Voss            @vossroger
31                 Sicilia      NaN            NaN                   NaN
32                 Sicilia      NaN            NaN                   NaN
...                    ...      ...            ...                   ...
36080                  NaN      NaN     Roger Voss            @vossroger
36088            Champagne      NaN     Roger Voss            @vossroger
36095            Champagne      NaN     Roger Voss            @vossroger
36110    Fiano di Avellino      NaN  Kerin O’Keefe          @kerinokeefe
36130                 Etna      NaN  Kerin O’Keefe          @kerinokeefe

                                                   title            variety  \
0                      Nicosia 2013 Vulkà Bianco  (Etna)        White Blend
13                Masseria Setteporte 2012 Rosso  (Etna)  Nerello Mascalese
30     Domaine de la Madone 2012 Nouveau  (Beaujolais...              Gamay
31     Duca di Salaparuta 2010 Calanìca Nero d'Avola-...          Red Blend
32     Duca di Salaparuta 2011 Calanìca Grillo-Viogni...        White Blend
...                                                  ...                ...
36080      Quinta da Alorna 2009 Touriga Nacional (Tejo)   Touriga Nacional
36088  Drappier NV Quattuor Blanc de Quatre Blancs Br...         Chardonnay
36095            G. H. Mumm NV Cordon Rouge  (Champagne)    Champagne Blend
36110  Mastroberardino 2013 More Maiorum  (Fiano di A...              Fiano
36130                       Cottanera 2016 Rosato (Etna)             Rosato

                     winery
0                   Nicosia
13      Masseria Setteporte
30     Domaine de la Madone
31       Duca di Salaparuta
32       Duca di Salaparuta
...                     ...
36080      Quinta da Alorna
36088              Drappier
36095            G. H. Mumm
36110       Mastroberardino
36130             Cottanera

[2628 rows x 13 columns]

In [ ]:
#q3.hint()
#q3.solution()

## 4.
What are the most common wine-producing regions? Create a Series counting the number of times each value occurs in the `region_1` field. This field is often missing data, so replace missing values with `Unknown`. Sort in descending order.  Your output should look something like this:

```
Unknown                    21247
Napa Valley                 4480
                           ...  
Bardolino Superiore            1
Primitivo del Tarantino        1
Name: region_1, Length: 1230, dtype: int64
```

In [13]:
reviews.region_1=reviews.region_1.fillna("Unknown")
reviews_per_region =reviews.region_1.value_counts()
print(reviews_per_region)

Unknown                 6074
Napa Valley             1260
Columbia Valley (WA)    1090
Russian River Valley     872
California               752
                        ...
Sonoma-Mendocino           1
Alghero                    1
Corton Grèves              1
Colli Aprutini             1
Abruzzo                    1
Name: region_1, Length: 1003, dtype: int64

In [ ]:
#q4.hint()
#q4.solution()

# Keep going

Move on to **[renaming and combining](https://www.kaggle.com/residentmario/renaming-and-combining)**.

---




*Have questions or comments? Visit the [course discussion forum](https://www.kaggle.com/learn/pandas/discussion) to chat with other learners.*