<a href="https://colab.research.google.com/github/nagmani004/Intro-To-ML-GDSC-IITK/blob/main/220679%20NAGMANI%20NAYAN%20exercise_grouping_and_sorting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**This notebook is an exercise in the [Pandas](https://www.kaggle.com/learn/pandas) course.  You can reference the tutorial at [this link](https://www.kaggle.com/residentmario/grouping-and-sorting).**

---

# Introduction

In these exercises we'll apply groupwise analysis to our dataset.

Run the code cell below to load the data before running the exercises.

In [1]:
import pandas as pd

reviews = pd.read_csv("/content/winemag-data-130k-v2.csv", index_col=0)
#pd.set_option("display.max_rows", 5)

In [5]:
reviews.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

# Exercises

## 1.
Who are the most common wine reviewers in the dataset? Create a `Series` whose index is the `taster_twitter_handle` category from the dataset, and whose values count how many reviews each person wrote.

In [7]:
# Your code here
reviews_written = reviews.groupby('taster_twitter_handle').taster_twitter_handle.count()
print(reviews_written)
# Check your answer

taster_twitter_handle
@AnneInVino          299
@JoeCz               512
@bkfiona               3
@gordone_cellars     407
@kerinokeefe        1114
@laurbuzz            182
@mattkettmann        592
@paulgwine           936
@suskostrzewa        135
@vboone              993
@vossroger          2552
@wawinereport        468
@wineschach         1545
@worldwineguys        84
Name: taster_twitter_handle, dtype: int64

In [ ]:
#q1.hint()
#q1.solution()

## 2.
What is the best wine I can buy for a given amount of money? Create a `Series` whose index is wine prices and whose values is the maximum number of points a wine costing that much was given in a review. Sort the values by price, ascending (so that `4.0` dollars is at the top and `3300.0` dollars is at the bottom).

In [10]:
best_rating_per_price = reviews.groupby("price").points.max()

# Check your answer
print(best_rating_per_price)

price
4.0       85
5.0       86
6.0       87
7.0       88
8.0       90
          ..
775.0     97
1100.0    97
1200.0    96
1300.0    96
1900.0    98
Name: points, Length: 189, dtype: int64

In [ ]:
#q2.hint()
#q2.solution()

## 3.
What are the minimum and maximum prices for each `variety` of wine? Create a `DataFrame` whose index is the `variety` category from the dataset and whose values are the `min` and `max` values thereof.

In [17]:
price_extremes =reviews.groupby(['variety']).price.agg([min,max])

# Check your answer
print(price_extremes)

                         min    max
variety
Agiorgitiko             15.0   29.0
Aglianico               11.0   90.0
Albana                  14.0   25.0
Albanello               20.0   20.0
Albariño                12.0   60.0
...                      ...    ...
Zibibbo                 35.0   45.0
Zierfandler             15.0   40.0
Zierfandler-Rotgipfler  20.0   20.0
Zinfandel                6.0  100.0
Zweigelt                 9.0   52.0

[375 rows x 2 columns]

In [ ]:
#q3.hint()
#q3.solution()

## 4.
What are the most expensive wine varieties? Create a variable `sorted_varieties` containing a copy of the dataframe from the previous question where varieties are sorted in descending order based on minimum price, then on maximum price (to break ties).

In [33]:
sorted_varieties = price_extremes.sort_values(by='min',ascending=False)
print(sorted_varieties)
# Check your answer

                                     min    max
variety
Marzemino                          130.0  130.0
Cabernet Sauvignon-Cabernet Franc   69.0   69.0
Grenache Blend                      65.0   65.0
Nero di Troia                       60.0   60.0
Moscadello                          55.0   55.0
...                                  ...    ...
Mantonico                            NaN    NaN
Manzoni                              NaN    NaN
Picolit                              NaN    NaN
Sämling                              NaN    NaN
White Port                           NaN    NaN

[375 rows x 2 columns]

In [ ]:
#q4.hint()
#q4.solution()

## 5.
Create a `Series` whose index is reviewers and whose values is the average review score given out by that reviewer. Hint: you will need the `taster_name` and `points` columns.

In [26]:
reviewer_mean_ratings =reviews.groupby("taster_name").points.mean()

print(reviewer_mean_ratings)

taster_name
Alexander Peartree    85.911111
Anna Lee C. Iijima    88.202439
Anne Kreb             94.000000
Anne Krebiehl MW      90.555184
Carrie Dykes          85.750000
Fiona Adams           86.333333
Jeff Jenssen          88.400000
Jim Gordon            88.319410
Joe Czerwinski        88.406250
Kerin O’Keefe         88.757630
Lauren Buzzeo         87.505495
Matt Kettmann         90.145270
Michael Schachner     86.905502
Mike DeSimone         89.076923
Paul Gregutt          89.028846
Roger Voss            88.459248
Sean P. Sullivan      88.645299
Susan Kostrzewa       86.570370
Virginie Boone        89.160121
Name: points, dtype: float64

In [ ]:
#q5.hint()
#q5.solution()

Are there significant differences in the average scores assigned by the various reviewers? Run the cell below to use the `describe()` method to see a summary of the range of values.

In [25]:
reviewer_mean_ratings.describe()

count    19.000000
mean     88.428023
std       1.894053
min      85.750000
25%      87.205498
50%      88.406250
75%      89.052885
max      94.000000
Name: points, dtype: float64

## 6.
What combination of countries and varieties are most common? Create a `Series` whose index is a `MultiIndex`of `{country, variety}` pairs. For example, a pinot noir produced in the US should map to `{"US", "Pinot Noir"}`. Sort the values in the `Series` in descending order based on wine count.

In [31]:
country_variety_counts = reviews.groupby(['country','variety']).size().sort_values(ascending=False)
print(country_variety_counts)
# Check your answer

country   variety
US        Pinot Noir                  966
          Cabernet Sauvignon          752
          Chardonnay                  650
France    Bordeaux-style Red Blend    467
Italy     Red Blend                   369
                                     ...
Slovenia  Chardonnay                    1
          Cabernet Franc                1
Serbia    Morava                        1
Romania   White Blend                   1
Uruguay   Tempranillo-Tannat            1
Length: 741, dtype: int64

In [ ]:
#q6.hint()
#q6.solution()

# Keep going

Move on to the [**data types and missing data**](https://www.kaggle.com/residentmario/data-types-and-missing-values).

---




*Have questions or comments? Visit the [course discussion forum](https://www.kaggle.com/learn/pandas/discussion) to chat with other learners.*