<a href="https://colab.research.google.com/github/nagmani004/Intro-To-ML-GDSC-IITK/blob/main/220679%20NAGMANI%20NAYAN%20exercise_creating_reading_and_writing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**This notebook is an exercise in the [Pandas](https://www.kaggle.com/learn/pandas) course.  You can reference the tutorial at [this link](https://www.kaggle.com/residentmario/creating-reading-and-writing).**

---

# Introduction

The first step in most data analytics projects is reading the data file. In this exercise, you'll create Series and DataFrame objects, both by hand and by reading data files.

Run the code cell below to load libraries you will need (including code to check your answers).

In [1]:
import pandas as pd

# Exercises

## 1.

In the cell below, create a DataFrame `fruits` that looks like this:

![](https://storage.googleapis.com/kaggle-media/learn/images/Ax3pp2A.png)

In [ ]:
# Your code goes here. Create a dataframe matching the above diagram and assign it to the variable fruits.
fruits = pd.DataFrame({'Apples':[30],'Bananas':[21]})

In [ ]:
#q1.hint()
#q1.solution()

## 2.

Create a dataframe `fruit_sales` that matches the diagram below:

![](https://storage.googleapis.com/kaggle-media/learn/images/CHPn7ZF.png)

In [ ]:
# Your code goes here. Create a dataframe matching the above diagram and assign it to the variable fruit_sales.
fruit_sales = pd.DataFrame({'Apples':[35,41],'Bananas':[21,34]},index=['2017 Sales','2018 Sales'])

# Check your answer

In [ ]:
#q2.hint()
#q2.solution()

## 3.

Create a variable `ingredients` with a Series that looks like:

```
Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object
```

In [ ]:
ingredients = pd.Series(['4 cups','1 cups','2 large','1 can',],index=['Flour','Milk','Eggs','Spam'],name='Dinner')
print(ingredients)
# Check your answer

Flour     4 cups
Milk      1 cups
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [ ]:
#q3.hint()
#q3.solution()

## 4.

Read the following csv dataset of wine reviews into a DataFrame called `reviews`:

![](https://storage.googleapis.com/kaggle-media/learn/images/74RCZtU.png)

The filepath to the csv file is `../input/wine-reviews/winemag-data_first150k.csv`. The first few lines look like:

```
,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,"This tremendous 100% varietal wine[...]",Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and[...]",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,,Tinta de Toro,Bodega Carmen Rodríguez
```

In [7]:
 file_path= '/content/winemag-data_first150k.csv'
reviews=pd.read_csv(file_path)
reviews.describe
# Check your answer

<bound method NDFrame.describe of        Unnamed: 0 country                                        description  \
0               0      US  This tremendous 100% varietal wine hails from ...
1               1   Spain  Ripe aromas of fig, blackberry and cassis are ...
2               2      US  Mac Watson honors the memory of a wine once ma...
3               3      US  This spent 20 months in 30% new French oak, an...
4               4  France  This is the top wine from La Bégude, named aft...
...           ...     ...                                                ...
19039       19039      US  Plenty of Zinny character in this lusty, spicy...
19040       19040      US  Delicious, with pleasurable flavors of milk ch...
19041       19041   Italy  This hearty red wine from central Italy would ...
19042       19042  France  A powerful wine that has integrated its dense ...
19043       19043   Italy  This elegant wine opens with rich concentratio...

                                designation  points  price          province  \
0                         Martha's Vineyard      96  235.0        California
1      Carodorum Selección Especial Reserva      96  110.0    Northern Spain
2             Special Selected Late Harvest      96   90.0        California
3                                   Reserve      96   65.0            Oregon
4                                La Brûlade      95   66.0          Provence
...                                     ...     ...    ...               ...
19039                     Morisoli Vineyard      91   37.0        California
19040                                   NaN      91   52.0        California
19041                                Tullum      91   22.0     Central Italy
19042              Prieuré de Cénac Mission      91   15.0  Southwest France
19043                               Cagiòlo      91    NaN                Ce

                region_1           region_2             variety  \
0            Napa Valley               Napa  Cabernet Sauvignon
1                   Toro                NaN       Tinta de Toro
2         Knights Valley             Sonoma     Sauvignon Blanc
3      Willamette Valley  Willamette Valley          Pinot Noir
4                 Bandol                NaN  Provence red blend
...                  ...                ...                 ...
19039        Napa Valley               Napa           Zinfandel
19040        Napa Valley               Napa      Cabernet Franc
19041            Abruzzo                NaN           Red Blend
19042             Cahors                NaN       Malbec-Merlot
19043                NaN                NaN                 NaN

                            winery
0                            Heitz
1          Bodega Carmen Rodríguez
2                         Macauley
3                            Ponzi
4             Domaine de la Bégude
...                            ...
19039                        Elyse
19040                      Frazier
19041                 Feudo Antico
19042  Château Saint-Didier-Parnac
19043                          NaN

[19044 rows x 11 columns]>

In [ ]:
#q4.hint()
#q4.solution()

## 5.

Run the cell below to create and display a DataFrame called `animals`:

In [ ]:
animals = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])
print(animals)

        Cows  Goats
Year 1    12     22
Year 2    20     19

In the cell below, write code to save this DataFrame to disk as a csv file with the name `cows_and_goats.csv`.

In [ ]:
# Your code goes here
animals.to_csv('cows_and_goats.csv')

# Check your answer

In [ ]:
#q5.hint()
#q5.solution()

# Keep going

Move on to learn about **[indexing, selecting and assigning](https://www.kaggle.com/residentmario/indexing-selecting-assigning)**.

---




*Have questions or comments? Visit the [course discussion forum](https://www.kaggle.com/learn/pandas/discussion) to chat with other learners.*